body
{
  color:aquamarine;
  background-image: url("https://thumbs.dreamstime.com/b/peace-sign-vector-146404973.jpg");
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 350px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size:20px;
  font-weight: bold;
  border-radius: 70px;
  letter-spacing: 10px;
}
label{
  font-weight: bolder;
  letter-spacing:6px;
  padding: 6px;
  background-color:lightblue;
  color:mediumblue;
}
#checking{
  color:darkblue;
  background-color: darkturquoise;
  border-width: 8px;
  border-color:chartreuse;
}
#predicting{
  color:darkblue;
  background-color:darkturquoise;
  border-width: 8px;
  border-color: chartreuse;
}

